<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.task.system">
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".FixApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activity.PercentCenterActivity" />
        <activity android:name=".activity.AddNewLeaderActivity" />
        <activity android:name=".activity.AddLeaderActivity" />
        <activity android:name=".activity.SettingFinalRateActivity" />
        <activity android:name=".activity.MyAccountActivity" />
        <activity android:name=".activity.ScoreDetailActivity" />
        <activity android:name=".activity.MyScoreListActivity" />
        <activity android:name=".activity.MessageDetailActivity" />
        <activity android:name=".activity.MessageListActivity" />
        <activity android:name=".activity.ModifyPhoneStepTwoActivity" />
        <activity android:name=".activity.DoTaskWordStepThreeActivity" />
        <activity
            android:name=".activity.DoTaskWorkStepTwoActivity"
            android:label="@string/title_activity_task_work_step_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AddCountActivity" />
        <activity android:name=".activity.BankListActivity" />
        <activity android:name=".activity.ApplyWithdrawActivity" />
        <activity
            android:name=".activity.MyIncomeActivity"
            android:label="@string/title_activity_my_income"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ModifyPhoneActivity" />
        <activity android:name=".activity.ModifyPasswordActivity" />
        <activity android:name=".activity.DoTaskStepActivity" />
        <activity android:name=".activity.ModifyUserNameActivity" />
        <activity
            android:name=".activity.TaskListActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.RegisterStepTwoActivity" />
        <activity android:name=".activity.CityListActivity" />
        <activity android:name=".activity.TaskDetailActivity" />
        <activity android:name=".activity.MyInviteCodeActivity" />
        <activity android:name=".activity.MyCollectedActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.PersonSettingActivity" />
        <!--
             &lt;!&ndash;全面屏&ndash;&gt;
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        &lt;!&ndash;适配华为（huawei）刘海屏&ndash;&gt;
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        &lt;!&ndash;适配小米（xiaomi）刘海屏&ndash;&gt;
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        -->
        <!-- <receiver -->
        <!-- android:name=".recieves.BootCompleteReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter android:priority="2147483647"> -->
        <!-- &lt;!&ndash;.接收启动完成的广播&ndash;&gt; -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <category android:name="android.intent.category.HOME"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4rwhxfNGulmUfI8mHZhNWagaLxImlESU" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">

            <!--
                    <intent-filter>
                    <action android:name="com.baidu.location.service_v2.2" />
                </intent-filter>
            -->
        </service> <!-- 文件下载 -->


        <!--&lt;!&ndash; 设置key &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="2589408a389f570f21045ba678bcfbc6"/>-->
        <!--&lt;!&ndash; 定位需要的服务 &ndash;&gt;-->
        <!--<service android:name="com.amap.api.location.APSService">-->
        <!--</service>-->


        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->

            <!--&lt;!&ndash; <category android:name="android.intent.category.HOME" /> &ndash;&gt;-->
            <!--&lt;!&ndash; <category android:name="android.intent.category.DEFAULT" /> &ndash;&gt;-->
            <!--</intent-filter>-->
        </activity> <!-- 文件下载 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.task.system.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- apk 下载服务 -->





        <service android:name=".services.UpdateService" />

        <activity android:name=".activity.OpenWebViewActivity" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101564744" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".views.photoview.preview.ImagePreviewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>